* {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
}

.navbar {
    background: linear-gradient(#76278f, #2B1E66);
    width: 100%;
    height: 65px;
    padding: 20px;
    position: fixed;
    z-index: 1;
}

.logo-container {
    margin-left: auto;
    margin-right: 20px;
}

.right-part {
    display: flex;
    margin-top: -70px;
    justify-content: flex-end;
    margin-right: 40px;
}

ul li {
    display: inline-block;
    padding: 20px;
}


/*Quitando los estilos <a>*/

ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.logo {
    width: 60px;
    height: 43px;
    margin-top: 10px;
}

ul li a:hover {
    color: #FF00BF;
}


/*Estilos para el boton de login*/

.button-nav {
    padding: 9px 18px;
    border-radius: 10%;
    width: 61px;
    height: 18px;
    border: 2px solid white;
    text-align: center;
    display: inline-block;
}


/*Estilos para el video del home*/

.video-home {
    max-width: 100%;
    height: 100%;
}

.video-container {
    overflow: hidden;
}

.video-container video {
    max-width: 100%;
    position: relative;
    top: 30px;
    width: 100%
}


/* Estilos para el cambio de navbar y el nuevo boton */

.navbar-color {
    width: 100%;
    height: 78px;
    background: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-color .right-part ul li a {
    color: #333447;
}

.navbar-color .right-part .button-nav {
    padding: 9px 18px;
    border-radius: 10%;
    width: 61px;
    height: 18px;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.second-apar {
    visibility: hidden;
}


/* Estilos para la card de registro */

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: auto;
    background-color: #EDE9E2;
    width: 436px;
    height: 320px;
    top: 200px;
    right: 0;
    color: #352384;
    padding: 30px;
}

h2,
h5,
input {
    margin-left: 20px;
}

.title-card {
    margin-top: -20px;
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #728099;
    margin-left: 20px;
    background-color: #EDE9E2;
}

.btn-become {
    margin-left: 20px;
    background-color: #FF00BF;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 50%;
}

.link {
    margin-left: 5px;
    color: #728099;
    font-size: 13px;
}

.text-card {
    font-size: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.text-card p {
    margin-bottom: -5px;
}


/* Estilos para info-1 */

.info-1 {
    display: flex;
    background: linear-gradient(#76278f, #2B1E66);
    margin: 0;
    color: white;
}

.container-test {
    margin-top: 100px;
    margin-left: 150px;
}

.img-phone {
    margin-right: 100px;
}

.text-info-1 {
    font-size: 14px;
    margin-bottom: 50px;
}

.title-section-test {
    font-size: 25px;
}


/* Estilos para el primer video */

.container-video {
    display: flex;
}

.video-uno {
    height: 500px;
    width: 900px;
}

.left {
    margin-left: 40px;
    margin-right: 30px;
}

.left p {
    font-size: 10px;
    margin-bottom: -15px;
}

.left h1 {
    font-size: 30px;
}

.left span {
    font-size: 16px;
}


/* Estilos para el segundo video */

.video-dos {
    height: 500px;
    width: 900px;
}

.right {
    margin-left: 40px;
    margin-right: 30px;
}

.right p {
    font-size: 10px;
    margin-bottom: -15px;
}

.right h1 {
    font-size: 30px;
}

.right span {
    font-size: 16px;
}